<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="../static/Lib/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/admin.css" rel="stylesheet">
    <link href="../static/Lib/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="../static/Lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet">
    <title>Admin</title>
</head>
<body>
<div class="container">
    <h1 class="h1">Admin</h1>
    <form action="/" method="POST" class="main">
        <div class="form-group">
            <label for="en">English:</label>
            <input type="en" class="form-control en" placeholder="enter english word" name="en" id="en">
        </div>
        <div class="form-group">
            <label for="vn">Vietnamese:</label>
            <input type="vn" class="form-control vn" placeholder="enter translated word" name="vn" id="vn">
        </div>
        <input type="submit" class="btn btn-success">
    </form>
    <div style="height: 500px !important; overflow: auto;">
        <table class="table table-striped" >
            <thead>
            <tr>
                <th>English</th>
                <th>Vietnamese</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for x in mydoc %}
                <tr>
                    <td>{{ x.en }}</td>
                    <td>{{ x.vn }}</td>
                    <td class="td_edit">
                        <button class="btn delete"><a href="/delete/{{ x._id }}">Delete</a></button>
                        <button id="{{ x._id }}" class="btn edit">Edit</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="dialog" title="Chỉnh sửa từ" style="display:none">
    <div class="form-group">
        <label for="en">English:</label>
        <input type="en" class="form-control en" placeholder="enter english word" name="en" id="en">
    </div>
    <div class="form-group">
        <label for="vn">Vietnamese:</label>
        <input type="vn" class="form-control vn" placeholder="enter translated word" name="vn" id="vn">
    </div>
    <input type="submit" class="btn btn-success">
</div>
<script src="../static/Lib/jquery-3.5.1.min.js"></script>
<script src="../static/Lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="../static/javascript/admin.js"></script>
</body>
</html>